<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
<div id = "container">
    <div id = "projectTitle">Allot</div>
    <div id = "subtitile">
        Organise. Contribute. Sustain.
    </div>
</div>

<style media="screen">

    #container {
        margin-top: 10%;
        margin-left: 15%;
    }
    #projectTitle {
        font-weight: 300;
        font-size: 100px;
        color: #16a085;
    }
    #subtitile {
        font-weight: 300;
        font-size: 40px;
        color: #1abc9c;
    }
</style>
